#intro {
    font-family: cursive;
    text-align: center;
    color: red;
}

.content {
    border: 2px solid black;
    background-color: deepskyblue;
    text-align: center;
    padding: 10px;
}

.btn {
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
}

.field {
    margin-top: 10px;
    padding: 8px;
    border: 2px solid red;
    border-radius: 8px;
}

.link {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: blue;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}
