#intro {
    font-family: cursive;
    text-align: center;
    color: red;
}

.contact-box {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
}

.contact-box input,
.contact-box textarea {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 2px solid #000;
    border-radius: 6px;
    font-size: 14px;
}

.contact-box button {
    padding: 10px;
    background: deepskyblue;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.contact-box button:hover {
    background: dodgerblue;
}

.link {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: blue;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}
